#table,th,td{
border-radius: 7px;
border:1px solid black;

}
table{
    border:2px solid block;
    
}
tr:nth-child(even){
    background-color: #dddddd;
}
#name th:nth-child(even){
    background-color: aqua;
}



